.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    place-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .5);
}


.content {
    background-color: var(--bege);
    height: 55rem;
    width: 55rem;
    border-radius: 1rem;
}

.content img {
    height: 13rem;
    width: 13rem;
    object-fit: cover;
}

.content .password, .content .username {
    display: flex;
    flex-direction: column;

}

.content .password input, .content .username input {
    border: none;
    outline: 0;
    background-color: var(--white);
    width: 30rem;
    height: 4.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding-left: 1rem;
}

.content .buttonLogin {
    border: none;
    background-color: var(--green);
    width: 30rem;
    height: 4.5rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.8rem;
}
.content label {
    font-size: 1.6rem;
}

.content p  {
    font-size: 1.6rem;
}
.content p span {
    color: var(--red);
}

.content .icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    color: var(--green);
    font-size: 3.6rem;
}