@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green: #717A64;
    --white: #fff;
    --red: #8C2A2A;
    --black: #000000;
    --bege: #E3E3D7;
    --greenOpacity: rgba(113, 122, 100, .5);
    font-size: 62.5%;
}

body, html ,main {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background-color: var(--greenOpacity);
    overflow-x: hidden;
    overflow-y: auto;
}

.hide {
    display: none;
}


.flex__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex__col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.flex__col__bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.flex__row__bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__col__noSpace {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex__col__noCenter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flex__row__noSpace{
    display: flex;
    align-items: center;
}


.toast {
    top: 1rem;
    right: 1rem;
    position: absolute;
    z-index: 999;
}
.toast-body {
    color: var(--red);
    font-weight: 700;
}
.toast-header {
    font-size: 1.8rem;
    color: var(--green);
    font-weight: 700;
}
.toast-txt {
    font-size: 1.8rem;
}
.toast-body-text {
    font-size: 1.6rem;
}

::-webkit-scrollbar {
    width: 0.6rem;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.8rem;
    background-color: var(--green);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--bege);
  }